mixin footer
  +b.FOOTER.footer&attributes(attributes)
    +e.__row-1
      .container-fluid.max-w-md.max-w-lg
        .row.my-1-inv
          .col-12.py-1.d-flex.flex-column.align-items-center.col-sm-4.align-items-sm-start
            +icon-svg('logo').__logo
          .col-12.py-1.d-flex.flex-column.col-sm-8.align-items-sm-end
            +e.__networks
              +e.__networks-title follow us
              +e.__networks-list
                +e.A.__networks-item--facebook(href='' target='_blank' title='Facebook')
                  +icon-svg('facebook')
                +e.A.__networks-item--vk(href='' target='_blank' title='VK')
                  +icon-svg('vk')
                +e.A.__networks-item--twitter(href='' target='_blank' title='Twitter')
                  +icon-svg('twitter')
                +e.A.__networks-item--instagram(href='' target='_blank' title='Instagram')
                  +icon-svg('instagram')
                +e.A.__networks-item--youtube(href='' target='_blank' title='YouTube')
                  +icon-svg('youtube')
    +e.__row-2
      .container-fluid.max-w-md.max-w-lg
        .row.my-1-inv.mx-lg-2
          .col-12.py-1.col-sm-6.col-md-3
            +e.__title Документы
            +e.UL.__nav
              +e.LI.__nav-item
                +e.A.__nav-link(href='') Privacy Policy
              +e.LI.__nav-item
                +e.A.__nav-link(href='') Term of Use
              +e.LI.__nav-item
                +e.A.__nav-link(href='') Refund and Return policy
          .col-12.py-1.col-sm-6.col-md-3
            +e.__title Помощь
            +e.UL.__nav
              +e.LI.__nav-item
                +e.A.__nav-link(href='') Контакты
              +e.LI.__nav-item
                +e.A.__nav-link(href='') Задать вопрос
              +e.LI.__nav-item
                +e.A.__nav-link(href='') FAQ
          .col-12.py-1.col-sm-6.col-md-3
            +e.__title Личный кабинет
            +e.UL.__nav
              +e.LI.__nav-item
                +e.A.__nav-link(href='') Регистрация
              +e.LI.__nav-item
                +e.A.__nav-link(href='') Авторизация
              +e.LI.__nav-item
                +e.A.__nav-link(href='') Купить токен
          .col-12.py-1.col-sm-6.col-md-3
            +e.__title Партнеры
            +e.UL.__nav
              +e.LI.__nav-item
                +e.A.__nav-link(href='') CAPITAL Pi
              +e.LI.__nav-item
                +e.A.__nav-link(href='') EX Pi
              +e.LI.__nav-item
                +e.A.__nav-link(href='') RICH GATE
    +e.__row-3
      .container-fluid.max-w-md.max-w-lg
        .row.my-1-inv
          .col-12.py-1.text-center.col-md.text-md-left
            p * Проценты, отмеченные в инвестиционных портфелях, указывают на долю в эффективности управления портфелем, в связи с большими расходами на покупку и продажу активов и повышенными расходами на хеджирование волатильности рынка.
            p ** Фонд оставляет за собой право изменять соотношение торговых стратегий в инвестиционных портфелях.
          .col-12.py-1.text-center.col-md-auto.text-md-right
            +e.__pay
              +e.__pay-col
                +icon-svg('vbm_blu').__pay-item
                +icon-svg('vbyvisa_blu').__pay-item
              +e.__pay-col
                +e.__pay-row
                  +icon-svg('mc').__pay-item
                  +icon-svg('ms').__pay-item
                +icon-svg('mc-sc').__pay-item
    +e.__row-4
      .container-fluid.max-w-md.max-w-lg
        p.text-center.text-sm-left © 2018 CRYPTO Pi. All Rights Reserved.