mixin header
  +b.HEADER.header&attributes(attributes)
    .container-fluid.max-w-md.max-w-lg
      .row.flex-nowrap.align-items-center
        .col-auto
          +e.A.__logo(href='' title='CRYPTO Pi')
            +icon-svg('logo')
        .col.min-w-0
          +e.BUTTON.__toggle-panel.d-md-none(data-toggle='header__panel')
            +icon-svg('menu')
            +icon-svg('cancel')
          +e.__panel
            +e.__panel-row.row.flex-md-nowrap.align-items-md-center
              +e.__panel-col.col-12.min-w-0.col-md.d-md-flex.justify-content-md-center
                +b.NAV.menu.__menu
                  +e.UL.__inner
                    +e.LI.__item
                      +e.A.__link--current(href='analytics.html')= lang === 'ru' ? 'Аналитика' : 'Analytics'
                    +e.LI.__item
                      +e.A.__link(href='faq.html') FAQ
                    +e.LI.__item
                      +e.A.__link(href='contacts.html')= lang === 'ru' ? 'Контакты' : 'Contacts'
              +e.__panel-col.col-12.col-md-auto
                +e.__lang
                  +e.__lang-inner
                    +e.A.__lang-item(href='') en
                    +e.A.__lang-item--current(href='') ru
              +e.__panel-col.col-12.col-md-auto
                +e.A.__log-in(href='')
                  +e.__log-in-title Investor login
                  +e.__log-in-icon