mixin map
  +b.map&attributes(attributes)
    +e.__inner#map
    block map
      script.
        var branches = [
          ['Crypto Pi Russia', 55.747061, 37.536314, 2, 'Москва, Пресненская набережная, 10 блок С'],
          ['Crypto Pi Singapore', 1.301186, 103.853159, 3, '92 Waterloo Street #05-01, Sky Line Building, <br>Singapore (187966)'],
          ['Crypto Pi Netherlands', 52.086597, 4.314358, 1, 'Koninginnegracht 10, Den Haag, <br>2514BC, Netherlands']
        ];

        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: {lat: 36.115805, lng: 54.370451},
            styles: [{
              "featureType": "administrative",
              "elementType": "all",
              "stylers": [{"saturation": "-100"}]
            }, {
              "featureType": "administrative.province",
              "elementType": "all",
              "stylers": [{"visibility": "off"}]
            }, {
              "featureType": "landscape",
              "elementType": "all",
              "stylers": [{"saturation": -100}, {"lightness": 65}, {"visibility": "on"}]
            }, {
              "featureType": "poi",
              "elementType": "all",
              "stylers": [{"saturation": -100}, {"lightness": "50"}, {"visibility": "simplified"}]
            }, {
              "featureType": "road",
              "elementType": "all",
              "stylers": [{"saturation": "-100"}]
            }, {
              "featureType": "road.highway",
              "elementType": "all",
              "stylers": [{"visibility": "simplified"}]
            }, {
              "featureType": "road.arterial",
              "elementType": "all",
              "stylers": [{"lightness": "30"}]
            }, {
              "featureType": "road.local",
              "elementType": "all",
              "stylers": [{"lightness": "40"}]
            }, {
              "featureType": "transit",
              "elementType": "all",
              "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [{"hue": "#ffff00"}, {"lightness": -25}, {"saturation": -97}]
            }, {
              "featureType": "water",
              "elementType": "geometry.fill",
              "stylers": [{"lightness": "50"}]
            }, {"featureType": "water", "elementType": "labels", "stylers": [{"lightness": -25}, {"saturation": -100}]}]
          });

          setMarkers(map);
        }

        function setMarkers(map) {
          var image = {
            url: "data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 40 55%22 width=%2240%22 height=%2255%22%3E%3Cpath fill=%22%23f59900%22 d=%22M0 0h40v40H0z%22/%3E%3Cpath fill=%22%23ca8608%22 d=%22M0 0v40h13l7 15 7-15h13z%22/%3E%3Cpath fill=%22%23fff%22 d=%22M24.338 16.961h2.214v9.299h-2.214z%22/%3E%3Ccircle cx=%2225.445%22 cy=%2214.526%22 r=%221.55%22 fill=%22%23fff%22/%3E%3Cpath d=%22M21.445 14.082c-.851-.778-2.019-1.167-3.502-1.167h-4.938v13.279h2.589v-4.816h2.349c1.483 0 2.65-.386 3.502-1.158.85-.772 1.276-1.794 1.276-3.064 0-1.271-.425-2.296-1.276-3.074zm-1.862 4.638c-.372.404-.92.606-1.64.606h-2.35v-4.36h2.35c.727 0 1.275.209 1.644.625.37.417.554.944.554 1.583 0 .626-.186 1.141-.558 1.546z%22 fill=%22%23fff%22/%3E%3C/svg%3E",
            size: new google.maps.Size(40, 55),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(20, 55)
          };

          for (var i = 0; i < branches.length; i++) {
            (function () {
              var branch = branches[i];
              var marker = new google.maps.Marker({
                position: {lat: branch[1], lng: branch[2]},
                map: map,
                icon: image,
                title: branch[0],
                zIndex: branch[3]
              });
              var infowindow = new google.maps.InfoWindow({
                content: branch[4]
              });

              marker.addListener('click', function () {
                infowindow.open(map, marker);
              });
            })();
          }
        }
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzOTEh0q0r-2BuVxeLGaNTXJDl-pgA_-4&callback=initMap"></script>