.btn-secondary {
  @include init-block;
  color: #ffffff;
  font-size: font-size(20px);
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  padding: font-size((47px - 20px*1.25)/2) font-size(30px);
  border: 0;
  background: linear-gradient(to top, rgba(188, 117, 45, 0.67) 0%, rgba(251, 149, 59, 0.67) 100%) #fb953b;
  box-shadow: inset 0 font-size(-2px) #985a1a;
  user-select: none;
  transition: $transition-color;

  @include not-disabled {
    &:hover {
      background-color: darken(#fb953b, 15%);
    }
  }

  &:disabled {
    opacity: 0.7;
  }

  @include media-breakpoint-down(sm) {
    --size: 3/4;
    --font-size: 15/17;
  }
}