@keyframes show-chart-lines {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.chart {
  @include init-block;
  position: relative;

  &__grid {
    display: block;
    width: 100%;
  }

  &__lines {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: show-chart-lines;
    animation-timing-function: ease-out;
  }
}