@keyframes chart__line {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes chart__label {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chart {
  display: block;
  max-width: 1000px;

  &--animated {
    .chart__line {
      animation: chart__line 2.5s cubic-bezier(.32,.89,.57,1.01);
      animation-fill-mode: both;

      &--1 {
        animation-delay: 0.5s;
      }
    }

    .chart__label {
      animation: chart__label 2.5s cubic-bezier(.32,.89,.57,1.01);
      animation-fill-mode: both;

      &--1 {
        animation-delay: 0.2s;
      }

      &--2 {
        animation-delay: 0.4s;
      }

      &--3 {
        animation-delay: 0.6s;
      }

      &--4 {
        animation-delay: 0.8s;
      }

      &--5 {
        animation-delay: 1s;
      }
    }
  }
}