.contacts {
  @include init-block;

  &__title {
    color: $color-primary;
    font-weight: 500;
    font-size: fs(24);
    line-height: 1.25;
    font-family: 'DIN Pro', sans-serif;
    margin: 0 0 gs(30);
  }

  &__content {
    color: #ffffff;
    font-size: fs(17);
    line-height: 1.5;

    ul {
      list-style: none;
      padding-left: fs(26);

      > li {
        margin-bottom: fs(17*1.5);

        &::before {
          content: '';
          display: inline-block;
          vertical-align: baseline;
          border-width: fs(8);
          border-style: solid;
          border-color: #d9dada #d9dada #ca8510 #ca8510;
          margin: {
            right: fs(10);
            bottom: fs(-1);
            left: fs(-26);
          };
        }
      }
    }
  }

  &__footer {
    color: #ffffff;
    font-size: fs(24);
    line-height: 1.5;
    font-family: 'DIN Pro', sans-serif;
    margin-top: gs(100);

    address {
      font-style: normal;

      dl {
        dt, dd {
          display: inline;
        }

        dt {
          color: $color-primary;
          font-weight: 500;
          font-size: fs(25);
        }
      }
    }
  }
}