.contacts {
  @include init-block;

  &__title {
    color: $color-primary;
    font-weight: 500;
    font-size: bfs(24);
    line-height: 1.25;
    font-family: 'DIN Pro', sans-serif;
    margin: 0 0 bss(30);
  }

  &__content {
    color: #ffffff;
    font-size: bfs(17);
    line-height: 1.5;

    address {
      font-style: normal;
    }

    ul {
      list-style: none;
      padding: 0;

      > li {
        padding-left: bfs(26);
        margin-bottom: bfs(17*1.5);

        &::before {
          content: '';
          display: inline-block;
          vertical-align: baseline;
          border-width: bfs(8);
          border-style: solid;
          border-color: #d9dada #d9dada #ca8510 #ca8510;
          margin: {
            right: bfs(10);
            bottom: bfs(-1);
            left: bfs(-26);
          };
        }
      }
    }

    dl {
      list-style: none;
      padding: 0;

      > dt {
        padding-left: bfs(26);
        margin-bottom: bfs(17*1.5);

        &::before {
          content: '';
          display: inline-block;
          vertical-align: baseline;
          border-width: bfs(8);
          border-style: solid;
          border-color: #d9dada #d9dada #ca8510 #ca8510;
          margin: {
            right: bfs(10);
            bottom: bfs(-1);
            left: bfs(-26);
          };
        }
      }

      > dd {
        margin-bottom: bfs(17*1.5);
      }
    }
  }

  &__footer {
    color: #ffffff;
    font-size: bfs(24);
    line-height: 1.5;
    font-family: 'DIN Pro', sans-serif;
    margin-top: bss(100);

    address {
      font-style: normal;

      dl {
        dt, dd {
          display: inline;
        }

        dt {
          color: $color-primary;
          font-weight: 500;
          font-size: bfs(25);
        }
      }
    }
  }

  &--bg {
    background: image-url('contacts-bg.png') no-repeat 50% 50%/contain;

    .contacts {
      &__content {
        color: $color-base;
      }
    }
  }
}