.field-btb {
  @include init-block;
  color: $color-base;
  font-size: fs(21);
  line-height: 1.25;
  font-family: "DIN Pro", sans-serif;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  padding: fs((59 - 21*1.25)/2) 0;
  border: {
    top: fs(1) solid rgba($color-base, 0.56);
    right: 0;
    bottom: fs(1) solid rgba($color-base, 0.56);
    left: 0;
  };
  background: transparent;
  transition: $transition-color;

  &::placeholder {
    color: rgba($color-base, 0.7);
  }

  &:focus {
    outline: 0;
    border-color: $color-primary;
  }

  &:disabled {
    opacity: 0.7;
  }

  &--next {
    border-top-color: transparent;
    position: relative;
    margin-top: fs(-1);
  }
  
  &--select {
    @include reset-select;
    height: fs(61);
    padding-right: fs(40);
    background: inline-image('icons/rsp/angle-down.svg') no-repeat right fs(15) center/fs(10) auto;
  }

  &--textarea {
    overflow-y: auto;
    resize: none;
  }
}