.footer {
  --scale: 1;

  &__row-1 {
    padding: size-scale(35) 0;
  }

  &__logo {
    color: $color-base;
    font-size: size-scale(70);
  }

  &__networks {
    overflow: hidden;

    &-title {
      color: #e9e9ea;
      font-size: size-scale(72);
      line-height: size-scale(61);
      font-weight: 500;
      white-space: nowrap;
      height: size-scale(57);
      margin-bottom: size-scale(20);
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: size-scale(60);
      margin: size-scale(-12.5);
    }

    &-item {
      color: white;
      text-decoration: none;
      font-size: size-scale(40);
      display: flex;
      flex-flow: column;
      margin: size-scale(12.5);
      opacity: 0.85;
      transition: opacity $transition-base;

      &:hover {
        opacity: 1;
      }

      &--youtube {
        font-size: size-scale(32);
      }
    }
  }

  &__row-2 {
    padding: size-scale(35) 0;
  }

  &__title {
    color: $color-base;
    font-size: size-scale(17);
    line-height: 1.25;
    font-family: "DIN Pro", sans-serif;
    text-transform: uppercase;
    margin-bottom: size-scale(30);
  }

  &__nav {
    list-style: none;
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: size-scale(-10);

    &-item {
      color: $color-base;
      font-size: size-scale(17);
      line-height: 1.25;
      display: flex;
      align-items: flex-start;
      margin: size-scale(10);

      &::before {
        content: '';
        width: 8px;
        height: 8px;
        flex-shrink: 0;
        margin-right: 10px;
        margin-top: size-scale(17*1.25/2);
        transform: translateY(-50%);
        background-color: #d28600;
      }
    }

    &-link {
      color: inherit;
      text-decoration: none;
      transition: $transition-color;

      &:hover {
        color: $color-link;
      }
    }
  }

  &__row-3 {
    color: #757575;
    font-size: size-scale(17);
    line-height: 1.25;
    padding: size-scale(35) 0;
    background-color: #f9faf9;

    p {
      margin-bottom: size-scale(17*1.25);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__row-4 {
    color: $color-base;
    font-size: size-scale(17);
    line-height: 1.25;
    padding: size-scale(17) 0;
    background-color: #f5f6f6;
  }

  &__pay {
    vertical-align: top;
    max-width: 100%;
    mix-blend-mode: darken;
  }

  @include media-breakpoint-down(md) {
    --scale: 3/4;

    &__title {
      --scale: 15/17;
    }

    &__nav {
      --scale: 15/17;
    }
  }

  @include media-breakpoint-down(sm) {
    &__title {
      --scale: 14/17;
    }

    &__nav {
      --scale: 14/17;
      flex-flow: row;
      flex-wrap: wrap;
    }
  }

  @include media-breakpoint-down(xs) {
    &__networks {
      &-title {
        text-align: center;
      }

      &-list {
        justify-content: center;
        padding-left: 0;
      }
    }

    &__title {
      text-align: center;
    }

    &__nav {
      justify-content: center;
    }

    &__pay {

    }
  }
}