.form-feedback {
  @include init-block;
  padding: gs(30) gs(45);
  border: fs(1) solid rgba(0, 0, 0, 0.21);
  background-color: #ffffff;

  &__header {
    padding-bottom: gs(30);
  }

  &__title {
    color: #4f4f4d;
    font-weight: 700;
    font-size: fs(28);
    line-height: 1.25;
    font-family: "DIN Pro", sans-serif;
    margin: 0;
  }

  &__desc {
    color: #4f4f4d;
    font-weight: 500;
    font-size: fs(24);
    line-height: 1.25;
    font-family: "DIN Pro", sans-serif;
    margin: gs(15) 0 0;
  }

  &__row {
    &--actions {
      text-align: center;
      margin-top: gs(30);
    }
  }

  &__field {
    width: 100%;
  }

  &__btn {
    width: 250px;
  }
}