.grid {
  &-contacts {
    @include init-grid(30, 15);

    &__row {
      justify-content: space-between;
    }

    &__col {
      &--0 {
        width: percentage(4/12);
      }

      &--1 {
        width: percentage(6/12);
      }
    }

    @include media-breakpoint-down(md) {
      &__col {
        &--0 {
          width: percentage(6/12);
        }
      }
    }

    @include media-breakpoint-down(sm) {
      &__col {
        &--0 {
          width: percentage(12/12);
        }

        &--1 {
          width: percentage(12/12);
        }
      }
    }
  }
}