.header {
  --scale: 1;
  padding: size-scale(30) 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
  background-color: #ffffff;
  transition: $transition-color;

  &__logo {
    color: $color-base;
    font-size: size-scale(70);
    text-decoration: none;
    display: flex;
    transition: $transition-color;
  }

  &__lang-inner {
    display: flex;
    margin: 0 -7.5px;
  }

  &__lang-item {
    color: $color-base;
    font-size: 20px;
    line-height: 1.25;
    font-family: "DIN Pro", sans-serif;
    text-decoration: none;
    margin: 0 7.5px;
    transition: $transition-color;

    &:hover, &--current {
      color: $color-link;
    }
  }

  &__log-in {
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
      .header__log-in-icon {
        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }
    }

    &-title {
      color: $color-base;
      font-size: 20px;
      line-height: 1.25;
      font-family: "DIN Pro", sans-serif;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
      margin-right: 15px;
    }

    &-icon {
      width: size-scale(70);
      height: size-scale(70);
      flex-shrink: 0;
      position: relative;

      &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity 0.15s linear;
      }

      &::before {
        background: image-url('icons/investor-login.svg') no-repeat 50% 50%/contain;
      }

      &::after {
        background: image-url('icons/investor-login-hover.svg') no-repeat 50% 50%/contain;
        opacity: 0;
      }
    }
  }

  &__toggle-panel {
    color: $color-base;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: size-scale(70);
    height: size-scale(70);
    padding: 0;
    border: 0;
    margin-left: auto;
    background: transparent;
    transition: $transition-color;

    svg {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  &--transparent {
    @mixin header-transparent {
      background-color: transparent;

      .header {
        &__logo {
          color: white;
        }

        &__toggle-panel {
          color: white;
        }

        &__lang-item {
          color: white;

          &:hover, &--current {
            color: $color-link;
          }
        }

        &__log-in-title {
          color: white;
        }
      }

      .menu {
        &__link {
          color: white;

          &:hover, &--current {
            color: $color-link;
          }
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .page:not(.page--open-panel) &:not(.header--fixed) {
        @include header-transparent;
      }
    }

    @include media-breakpoint-up(md) {
      &:not(.header--fixed) {
        @include header-transparent;
      }
    }
  }

  &--fixed {
    --scale: 2/4;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  }

  @include media-breakpoint-down(md) {
    --scale: 3/4;

    &__lang-item {
      font-size: 16px;
    }

    &__log-in-title {
      font-size: 16px;
    }

    &--fixed {
      --scale: 2/4;
    }
  }

  @include media-breakpoint-down(sm) {
    --scale: 2/4;

    &__panel {
      width: 280px;
      position: fixed;
      top: 65px;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      background-color: #ffffff;
      box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, 0.1), inset 0 10px 8px -8px rgba(0, 0, 0, 0.1);
      transform: translateX(300px);
      transition: transform 0.15s ease-out;
    }

    &__panel-row {
      margin: 0;
    }

    &__panel-col {
      padding: 15px 25px;

      & + & {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    &__menu {
      margin: 0 -25px;
    }

    &__log-in-title {
      order: 1;
      max-width: none;
      margin: 0 0 0 15px;
    }
  }
}