.header {
  --scale: 1;
  padding: size-scale(30) 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
  background-color: #ffffff;
  transition: $transition-color;

  &__logo {
    color: $color-base;
    font-size: size-scale(70);
    text-decoration: none;
    transition: $transition-color;
  }

  &__logo-img {
    display: block;
  }

  &__lang-inner {
    display: flex;
    margin: 0 -7.5px;
  }

  &__lang-item {
    color: $color-base;
    font-size: 20px;
    line-height: 1.25;
    font-family: "DIN Pro", sans-serif;
    text-decoration: none;
    margin: 0 7.5px;
    transition: $transition-color;

    &:hover, &--current {
      color: $color-link;
    }
  }

  &__log-in {
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
      .header__log-in-icon {
        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__log-in-icon {
    width: size-scale(70);
    height: size-scale(70);
    flex-shrink: 0;
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity 0.15s linear;
    }

    &::before {
      background: embed-svg('icons/investor-login.svg') no-repeat 50% 50%/contain;
    }

    &::after {
      background: embed-svg('icons/investor-login-hover.svg') no-repeat 50% 50%/contain;
      opacity: 0;
    }
  }

  &__log-in-title {
    color: $color-base;
    font-size: 20px;
    line-height: 1.25;
    font-family: "DIN Pro", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    order: -1;
    margin-right: 15px;
  }

  &__toggle-panel {
    color: $color-base;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: size-scale(70);
    height: size-scale(70);
    padding: 0;
    border: 0;
    margin-left: auto;
    background: transparent;
    transition: $transition-color;

    svg {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  &--fixed {
    --scale: 2/4;
    position: fixed;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

    .header {
      &__lang-item {
        font-size: 16px;
      }

      &__log-in-title {
        font-size: 16px;
      }
    }

    .menu {
      &__link {
        font-size: 16px;
      }
    }
  }

  @mixin header--transparent {
    background-color: transparent;

    .header__logo {
      color: white;
    }

    .header__toggle-panel {
      color: white;
    }

    .menu__link {
      color: white;

      &:hover, &--current {
        color: $color-link;
      }
    }

    .header__lang-item {
      color: white;

      &:hover, &--current {
        color: $color-link;
      }
    }

    .header__log-in-title {
      color: white;
    }
  }

  &--transparent {
    @include media-breakpoint-up(md) {
      &:not(.header--fixed) {
        @include header--transparent;
      }
    }

    @include media-breakpoint-down(sm) {
      .page:not(.page--open-panel) &:not(.header--fixed) {
        @include header--transparent;
      }
    }
  }

  @include media-breakpoint-down(md) {
    --scale: 3/4;

    .header {
      &__lang-item {
        font-size: 16px;
      }

      &__log-in-title {
        font-size: 16px;
      }
    }

    &--fixed {
      --scale: 2/4;
    }
  }

  @include media-breakpoint-down(sm) {
    --scale: 2/4;

    &__panel {
      display: flex;
      flex-flow: column;
      width: 280px;
      position: fixed;
      top: 65px;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      box-shadow: -6px 4px 8px -4px rgba(0, 0, 0, 0.1), inset 0 10px 8px -8px rgba(0, 0, 0, 0.1);
      transform: translateX(100%);
      transition: transform 0.15s ease-out;
    }

    &__panel-header {
      height: 65px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__panel-content {
      flex-grow: 1;
      overflow-y: auto;
    }

    &__panel-row {
      margin: 0;
    }

    &__panel-col {
      padding: 15px 25px;

      & + & {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    &__menu {
      margin: 0 -25px;
    }

    &__log-in-title {
      order: 0;
      max-width: none;
      margin: 0 0 0 15px;
    }
  }
}