.page {
  @include init-block;

  &__body {
    background-color: #ffffff;
  }

  &__body-inner {
    display: flex;
    flex-flow: column;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
  }

  &__content {
    flex-grow: 1;
  }

  &__intro {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: bss(500);
    padding: bss(130) 0;
    background: none no-repeat 50% 0/cover $color-base;

    &--analytics {
      background-image: image-url('bg-9.jpg');
    }

    &--faq {
      background-image: image-url('bg-11.jpg');
    }

    &-title {
      color: #ffffff;
      font-weight: 700;
      font-size: bfs(48);
      line-height: 1.25;
      font-family: $font-family-heading;
      text-align: center;
      margin: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &--open-panel {
      overflow: hidden;

      .header {
        &__toggle-panel {
          svg {
            &:nth-child(1) {
              display: none;
            }

            &:nth-child(2) {
              display: block;
            }
          }
        }

        &__panel {
          transform: translateX(0);
        }
      }
    }
  }
}