.page {
  &__body {
    color: $color-base;
    font-size: 17px;
    line-height: 1.5;
    font-family: $font-family-base;
    background-color: #ffffff;
  }

  &__body-inner {
    display: flex;
    flex-flow: column;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
  }

  &__content {
    flex-grow: 1;
  }

  @include media-breakpoint-down(sm) {
    &--open-panel {
      overflow: hidden;

      .header {
        &__toggle-panel {
          svg {
            &:nth-child(1) {
              display: none;
            }

            &:nth-child(2) {
              display: block;
            }
          }
        }

        &__panel {
          transform: translateX(0);
        }
      }
    }
  }
}