.section-sm {
  --size: 1;
  --font-size: 1;

  &__header {
    margin-bottom: size(30);
  }

  &__title {
    color: #535454;
    font-size: font-size(24);
    line-height: 1.25;
    font-family: $font-family-heading;
    font-weight: 500;
    margin: 0 0 size(15);
  }

  &__content {
    color: #535454;
    font-size: font-size(17);
    line-height: 1.5;
    font-family: $font-family-heading;

    p {
      &:not(:last-child) {
        margin-bottom: em(17*1.5, 17);
      }
    }
  }

  &__footer {
    color: #535454;
    font-size: font-size(17);
    line-height: 1.5;
    font-family: $font-family-heading;
    font-weight: 500;
    margin-top: size(30);

    p {
      &:not(:last-child) {
        margin-bottom: em(17*1.5, 17);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    --size: 3/4;
    --font-size: 15/17;
  }
}