.section-intro {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: calc(100vh*2/3);
  padding: 180px 0;
  background: url-img('sect-bg.jpg') no-repeat 50% 50%/cover;
  overflow: hidden;

  &__title {
    color: #ffffff;
    font-size: size-scale(48);
    line-height: 1.25;
    font-weight: 700;
    font-family: "DIN Pro", sans-serif;
    text-align: center;
    margin: 0;

    small {
      font-size: size-scale(36);
      display: block;
      margin-bottom: size-scale(20);
    }
  }

  @include media-breakpoint-down(sm) {
    --scale: 3/4;
  }
}