.section {
  --size: 1;
  --font-size: 1;
  padding: size(60) 0;

  &__header {
    margin-bottom: size(60);
  }

  &__title {
    color: #fb953b;
    font-size: font-size(28);
    line-height: 1.25;
    font-family: $font-family-heading;
    font-weight: 700;
    margin: 0 0 size(30);
  }

  &--service {
    background: url-img('bg.jpg') no-repeat 50% 50%/cover;
  }

  @include media-breakpoint-down(sm) {
    --size: 3/4;
    --font-size: 15/17;
  }
}