.section-intro {
  --scale: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: calc(100vh*2/3);
  padding: 130px 0 180px;
  background: url-img('sect-bg.jpg') no-repeat 50% 50%/cover;

  &__title {
    color: #ffffff;
    font-size: 48px;
    line-height: 1.25;
    font-family: $font-family-heading;
    font-weight: 700;
    text-align: center;
    margin: 0;

    small {
      font-size: em(36, 48);
      display: block;
      margin-bottom: em(20, 36);
    }
  }

  @include media-breakpoint-down(sm) {
    &__title {
      font-size: 34px;
    }
  }
}