.write {
  --size: 1;
  --font-size: 1;

  &:hover {
    .write {
      &__img {
        &-inner {
          transform: scale(1.1);
        }
      }

      &__read-more {
        color: darken(#fb953b, 15%);
      }
    }
  }

  &__inner {
    text-decoration: none;
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  &__img {
    flex-shrink: 0;
    margin: 0 size(15);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      padding-top: percentage(250/400);
    }

    &-inner {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      transform-origin: 50% 100%;
      transition: 0.4s ease-out;
    }
  }

  &__body {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding: size(130) size(20) size(15);
    margin: size(-80) size(30) 0;
    position: relative;
    background-color: #f5f6f6;
  }

  &__header {
    padding-bottom: size(10);
  }

  &__title {
    color: #d08f2c;
    font-size: font-size(21);
    line-height: 1.25;
    font-family: $font-family-heading;
    font-weight: 500;
    overflow: hidden;
    max-height: font-size(21*1.25*2);
    margin: 0;
  }

  &__datetime {
    color: #ffffff;
    font-size: font-size(17);
    line-height: font-size(24);
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    min-width: size(52);
    position: absolute;
    top: size(56);
    left: size(15);
    z-index: 1;

    span {
      display: block;
      padding: 0 size(10);

      &:nth-child(1) {
        background-color: #f59a00;
      }

      &:nth-child(2) {
        background-color: #d28600;
      }
    }
  }

  &__content {
    color: $color-base;
    font-size: font-size(17);
    line-height: 1.5;
    overflow: hidden;
    max-height: font-size(17*1.5*7);
  }

  &__footer {
    text-align: right;
    padding-top: size(15);
    margin-top: auto;
  }

  &__read-more {
    color: #fb953b;
    font-size: font-size(17);
    line-height: 1.25;
    font-family: $font-family-heading;
    transition: $transition-color;
  }

  [class*='col-']:nth-child(3n + 1) & {
    &__img {
      margin-left: 0;
      margin-right: size(30);
    }

    &__body {
      margin-left: size(60);
      margin-right: 0;
    }
  }

  [class*='col-']:nth-child(3n + 3) & {
    &__img {
      margin-left: size(30);
      margin-right: 0;
    }

    &__body {
      margin-left: 0;
      margin-right: size(60);
    }
  }

  @include media-breakpoint-down(md) {

  }

  @include media-breakpoint-down(sm) {
    --size: 3/4;
    --font-size: 15/17;
  }
}