include lib/variables
include lib/mixins
include blocks/page
include blocks/header
include blocks/footer
include blocks/map

+page(pagesList.faq.title)
  +header.--transparent.__header
  +e.__content
    +e.__intro--article-view
      .container-fluid.max-w-md.max-w-lg
        +e.H1.__intro-title Главное событие недели произошло в США
    .container-fluid.max-w-md.max-w-lg.pt-3bss
      +b.NAV.breadcrumb
        +e.OL.__inner
          +e.LI.__item
            +icon-svg('home').__icon-home
            +e.A.__link(href=pagesList.index.url) Главная
          +e.LI.__item
            +e.__icon
            +e.A.__link(href='') Аналитика
          +e.LI.__item
            +e.__icon
            +e.__link Главное событие недели произошло в США
    +b.ARTICLE.article-view
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg.pb-2bss
          .row.m-1bss-inv
            .col-6.p-1bss
              +e.TIME.__header-datetime(datetime='ГГГГ-ММ-ДДTчч:мм:сс') 12 июня 2018
            .col-6.p-1bss.d-flex.justify-content-end
              +b.share
                +e.__label Поделиться
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__header-title Главное событие в США произошло на прошлой неделе 8 числа
      +e.__content
        .container-fluid.max-w-md.max-w-lg
          +b.formatted-content
            p Вместе с нашим партнером – голландским Фондом альтернативных инвестиций Capital Pi – мы создали небольшой инвестиционный фонд, позволяющий вкладывать средства в криптовалюту с возможностью перевода в другие виды валют если наши дилеры посчитают, что это принесет прибыль.
            p Цель состоит в том, чтобы обеспечить инвесторам возможность участия в процессе наращивания ценности в этом секторе, но без необходимости ограничиваться только биткойнами или любой другой валютой. Этот фонд отличается от Фонда альтернативных инвестиций компании Capital Pi, так как главная задача Криптофонда – участие в раннем этапе развития этого прорывного финансового инструмента и максимизация рентабельности вложений инвесторов с учетом высокой волатильности, зачастую свойственной этому рынку.
            h3 Торговля h3
            p Обменный пункт криптовалют. Мы предлагаем клиентам возможность пользоваться нашими услугами покупки/продажи криптовалюты всех типов в любой точке мира. Как и сама криптовалюта, наша система характеризуется высокой скоростью, безопасностью, анонимностью и экономической эффективностью. Сотрудничество с Crypto-Pi в качестве трейдера предоставит вам более удобный доступ к этому рынку, чем при попытке прямой покупки или продажи, и обеспечит уверенность в том, что вы работаете с профессионалами своего дела.
            h4 Майнинг h4
            p Мы создали собственные майнинговые центры, используя новейшее и наиболее эффективное оборудование в зонах с самым высоким уровнем энергоэффективности по всему миру. Благодаря этому и другим факторам наши затраты на предоставление высокоэффективных услуг майнинга клиентам остаются очень низкими, что позволяет нам получить преимущества, которых не всегда могут добиться наши конкуренты. Таким образом, вы сможете воспользоваться лучшими возможными сервисами по лучшей возможной цене.
            h5 Майнинг h5
            p Мы можем совместно с профессиональными трейдерами и другими физическими лицами разработать новые виды криптовалюты.
            h6 Консультирование клиентов h6
            p Мы можем совместно с профессиональными трейдерами и другими физическими лицами разработать новые виды криптовалюты.
            blockquote
              p То, на что критики криптовалюты изначально указывали как на причину для беспокойства, в действительности оказалось одним из множества ее преимуществ, которые сегодня привлекают правительства и банки всего мира. Именно в этих преимуществах они видят необходимый потенциал для обеспечения абсолютной безопасности транзакций.
            .row.mx-1bss-inv.mt-1bss-inv.mb-3bss
              .col-12.p-1bss.text-center.col-md-6.text-md-left
                img(src='img/content/pic-3.jpg' alt='')
              .col-12.p-1bss.col-md-6
                p Мы также можем оказывать полный спектр консультационных услуг по всем вышеупомянутым направлениям или любым другим вопросам, связанным с быстро растущими возможностями этого нового направления коммерческой деятельности будущего.
                p Расскажите нам о своих требованиях и о том, чего вы хотите достичь, и мы представим вам разнообразные варианты действий, которые, по нашему мнению, помогут вам в этом. Мы уверены в том, что вы оцените наши услуги как высокопрофессиональные и более чем способные помочь вам справиться с поставленными задачами.
            .row.mx-1bss-inv.mt-1bss-inv.mb-3bss
              .col-12.p-1bss.text-center.col-md-6.text-md-left.order-md-1
                img(src='img/content/pic-3.jpg' alt='')
              .col-12.p-1bss.col-md-6
                p Мы также можем оказывать полный спектр консультационных услуг по всем вышеупомянутым направлениям или любым другим вопросам, связанным с быстро растущими возможностями этого нового направления коммерческой деятельности будущего.
                p Расскажите нам о своих требованиях и о том, чего вы хотите достичь, и <span class="color-primary-dark">мы представим вам разнообразные варианты действий, которые, по нашему мнению, помогут вам в этом</span>. Мы уверены в том, что вы оцените наши услуги как высокопрофессиональные и более чем способные помочь вам справиться с поставленными задачами.
            p Мы также можем оказывать полный спектр консультационных услуг по всем вышеупомянутым направлениям или любым другим вопросам, связанным с быстро растущими возможностями этого нового направления коммерческой деятельности будущего.
            p Расскажите нам о своих требованиях и о том, чего вы хотите достичь, и мы представим вам разнообразные варианты действий, которые, по нашему мнению, помогут вам в этом. Мы уверены в том, что вы оцените наши услуги как высокопрофессиональные и более чем способные помочь вам справиться с поставленными задачами.
            .my-4bss
              img.w-100(src='img/content/pic-4.jpg' alt='')
            p Мы также можем оказывать полный спектр консультационных услуг по всем вышеупомянутым направлениям или любым другим вопросам, связанным с быстро растущими возможностями этого нового направления коммерческой деятельности будущего.
            p Расскажите нам о своих требованиях и о том, чего вы хотите достичь, и мы представим вам разнообразные варианты действий, которые, по нашему мнению, помогут вам в этом. Мы уверены в том, что вы оцените наши услуги как высокопрофессиональные и более чем способные помочь вам справиться с поставленными задачами.
            ol
              li В целом, конечно, разбавленное изрядной долей эмпатии, рациональное мышление способствует повышению качества своевременного выполнения сверхзадачи.
              li Банальные, но неопровержимые выводы, а также интерактивные прототипы заблокированы в рамках своих собственных рациональных ограничений.
                ul
                  li В целом, конечно, разбавленное изрядной долей эмпатии, рациональное мышление способствует повышению качества своевременного выполнения сверхзадачи.
                  li Банальные, но неопровержимые выводы, а также интерактивные прототипы заблокированы в рамках своих собственных рациональных ограничений.
              li Также как сложившаяся структура организации представляет собой интересный эксперимент проверки как самодостаточных, так и внешне зависимых концептуальных решений.
            p Не следует, однако, забывать, что высокое качество позиционных исследований требует анализа системы обучения кадров, соответствующей насущным потребностям.
            p А еще сторонники тоталитаризма в науке неоднозначны и будут смешаны с неуникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.
            ul
              li В целом, конечно, разбавленное изрядной долей эмпатии, рациональное мышление способствует повышению качества своевременного выполнения сверхзадачи.
              li Банальные, но неопровержимые выводы, а также интерактивные прототипы заблокированы в рамках своих собственных рациональных ограничений.
              li Также как сложившаяся структура организации представляет собой интересный эксперимент проверки как самодостаточных, так и внешне зависимых концептуальных решений.
                ol
                  li В целом, конечно, разбавленное изрядной долей эмпатии, рациональное мышление способствует повышению качества своевременного выполнения сверхзадачи.
                  li Банальные, но неопровержимые выводы, а также интерактивные прототипы заблокированы в рамках своих собственных рациональных ограничений.
    +b.SECTION.section--contacts
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3 Контакты
      .container-fluid.max-w-md.max-w-lg
        +b.grid-contacts
          +e.__row
            +e.__col--0
              +b.contacts
                +e.H3.__title Наши офисы:
                +e.__content
                  ul.text-uppercase
                    li Москва, Пресненская набережная, 10 блок С
                    li 92 Waterloo Street #05-01, Sky Line Building, Singapore (187966)
                    li Koninginnegracht 10, Den Haag, 2514BC, Netherlands
                +e.FOOTER.__footer
                  address
                    dl
                      dt Email:
                      dd
                        a(href='mailto:info@cryptopi.fund') info@cryptopi.fund
                        br
                      dt Phone:
                        dd
                          a(href='tel:+79295773655') +7 (929) 577-36-55
            +e.__col--1.position-relative.z-index-1.mb-md-10-inv
              +b.FORM.form-feedback(action='')
                +e.HEADER.__header
                  +e.H3.__title Обратная связь
                  +e.P.__desc Задайте интересующий Вас вопрос
                +e.__content
                  +e.__row
                    +b.INPUT.field-btb.__field(type='text' placeholder='Ваше имя')
                  +e.__row
                    +b.INPUT.field-btb--next.__field(type='email' placeholder='Email')
                  +e.__row
                    +b.INPUT.field-btb--next.__field(type='tel' placeholder='Телефон')
                  +e.__row
                    +b.SELECT.field-btb--next.--select.__field
                      option(selected='') Тема обращения
                      option Subject 1
                      option Subject 2
                      option Subject 3
                  +e.__row
                    +b.TEXTAREA.field-btb--next.--textarea.__field(rows='5' placeholder='Ваше сообщение')
                  +e.__row--actions
                    +b.BUTTON.btn-secondary.__btn Отправить
    +map
  +footer.__footer