include lib/variables
include lib/mixins
include blocks/page
include blocks/header
include blocks/footer
include blocks/map

+page(pagesList.contacts.title)
  +header.--transparent.__header
  +e.__content
    +e.__intro--contacts
      .container-fluid.max-w-md.max-w-lg
        +e.H1.__intro-title Контакты
    .container-fluid.max-w-md.max-w-lg.pt-3bss
      +b.NAV.breadcrumb
        +e.OL.__inner
          +e.LI.__item
            +icon-svg('home').__icon-home
            +e.A.__link(href=pagesList.index.url) Главная
          +e.LI.__item
            +e.__icon
            +e.__link Контакты
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3.color-base Наши офисы:
      .container-fluid.max-w-md.max-w-lg
        +b.grid-contacts
          +e.__row
            +e.__col--0
              +b.contacts--bg
                +e.__content
                  address
                    dl
                      dt.text-uppercase Россия
                      dd <strong class="color-primary font-weight-500 font-family-heading">Адрес:</strong> <span class="text-uppercase">Москва, Пресненская набережная, 10 блок С</span>
                      dt.text-uppercase Сингапур
                      dd <strong class="color-primary font-weight-500 font-family-heading">Адрес:</strong> <span class="text-uppercase">92 Waterloo Street #05-01, Sky Line Building, Singapore (187966)</span>
                      dt.text-uppercase Нидерланды
                      dd <strong class="color-primary font-weight-500 font-family-heading">Адрес:</strong> <span class="text-uppercase">Koninginnegracht 10, Den Haag, 2514BC, Netherlands</span>
            +e.__col--1.position-relative.z-index-1.mb-md-10-inv
              +b.FORM.form-feedback(action='')
                +e.HEADER.__header
                  +e.H3.__title Обратная связь
                  +e.P.__desc Задайте интересующий Вас вопрос
                +e.__content
                  +e.__row
                    +b.INPUT.field-btb.__field(type='text' placeholder='Ваше имя')
                  +e.__row
                    +b.INPUT.field-btb--next.__field(type='email' placeholder='Email')
                  +e.__row
                    +b.INPUT.field-btb--next.__field(type='tel' placeholder='Телефон')
                  +e.__row
                    +b.SELECT.field-btb--next.--select.__field
                      option(selected='') Тема обращения
                      option Subject 1
                      option Subject 2
                      option Subject 3
                  +e.__row
                    +b.TEXTAREA.field-btb--next.--textarea.__field(rows='5' placeholder='Ваше сообщение')
                  +e.__row--actions
                    +b.BUTTON.btn-secondary.__btn Отправить
      +e.__contacts.mt-3.mb-3-inv.mt-md-2.mb-md-4-inv
        .container-fluid.max-w-md.max-w-lg
          +e.__contacts-row
            +e.__contacts-col
              +e.ADDRESS.__contacts-item--tel
                a(href='tel:+79295773655') +7 (929) 577-36-55
            +e.__contacts-col
              +e.ADDRESS.__contacts-item--email
                a(href='mailto:info@cryptopi.fund') info@cryptopi.fund
    +map
  +footer.__footer