include lib/variables
include lib/mixins
include blocks/page
include blocks/header
include blocks/footer

+page(pagesList.index.title)
  +header.--transparent
  +e.__main
    +b.SECTION.section-intro
      .container-fluid.max-w-md.max-w-lg
        +e.H1.__title
          small.wow.fadeInRight(data-wow-duration='0.5s') «CRYPTO Pi» –
          span.d-block.wow.fadeInRight Криптовалютый холдинг
    +b.SECTION.px-1.mt-8-inv.mb-3.mb-md-4
      .container-fluid.max-w-md.max-w-lg
        .row.justify-content-center
          .col-12.col-lg-10
            +b.BLOCKQUOTE.intro-letter.m-0.wow.fadeIn
              +e.IMG.__img(src='img/content/kevin.png' alt='Кевин Р. Смит')
              +e.__body
                +e.__content
                  p С радостью делюсь новостью: наш объединенный голландско-сингапурский криптовалютный холдинг открыл представительство в России и готов предоставить в распоряжение клиентов новейшие технологии финтеха.
                +e.__footer
                  .row.align-items-end
                    .col-6
                      +e.CITE.__cite Кевин Р.&nbsp;Смит
                      +e.__position Chief Executive Officer
                    .col-6.text-center
                      +e.IMG.__sign(src='img/content/sign.png' alt='Кевин Р. Смит')
    +b.SECTION.section-about
      .container-fluid.max-w-md.max-w-lg
        .row.mb-3-inv.mb-md-4-inv
          .col-12.mb-3.col-md-6.mb-md-4.wow.fadeInLeft
            +e.HEADER.__header
              +e.H2.__title «CRYPTO Pi» —
              .d-flex.align-items-start
                +icon-svg('sequre').__icon.d-none.d-sm-block
                +e.__desc
                  p.
                    международный специализированный
                    криптовалютный центр, созданный
                    крупными мировыми инвесторами.
            +e.__content
              p.
                Клиенты и партнеры центра получают доступ к экспертным знаниям и
                опыту в области криптовалют и могут пользоваться передовыми
                финансово-техническими сервисами, легко адаптируемыми под любые задачи и требования.
            +e.FOOTER.__footer
              p.
                Уникальность предложения «CRYPTO Pi» заключается
                в соединении современной технологии блокчейн и классических
                финансовых институтов.
          .col-12.mb-3.col-md-6.mb-md-4.wow.fadeInRight
            +b.user-log-in.h-100
              .row.m-1-inv.justify-content-center
                .col-auto.mw-100.p-1
                  +b.A.btn-primary.__btn(href='') Регистрация
                .col-auto.mw-100.p-1
                  +b.A.btn-secondary.__btn(href='') Авторизация
              +e.__content
                p.
                  У вас уже есть аккаунт? Зарегистрируйтесь или авторизуйтесь
                  в личном кабинете сегодня!
    +b.SECTION.section--service
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3 Основные направления деятельности холдинга
      .container-fluid.max-w-md.max-w-lg
        .row.justify-content-center.mb-3-inv.mb-md-4-inv
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title FUND
              +e.__content
                p.
                  CRYPTO Pi Fund – это альтернативный инвестиционный фонд, реализующий свои торговые стратегии на новом быстроразвивающемся рынке цифровых валют и ICO.
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight(data-wow-delay='0.2s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title MINING
              +e.__content
                p.
                  Готовые комплексные решения
                  по покупке и установке доказавшего свою эффективность майнингового оборудования в принадлежащих
                  нам дата-центрах.
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight(data-wow-delay='0.4s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title ICO & CO FUND
              +e.__content
                p.
                  Помощь в технических,
                  финансовых и юридических
                  вопросах при первичном размещении токенов, а также совместное проведение CO на базе «Фонда Крипто Пи».
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight(data-wow-delay='0.6s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title SALES & LEGALIZE
              +e.__content
                p.
                  Организация продаж токенов и создание субфондов в партнерстве с рофессиональными участниками рынка цифровых активов.
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight(data-wow-delay='0.8s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title CONSULTING
              +e.__content
                p.
                  Консультации ведущих специалистов
                  по вопросам правового регулирования, финансового взаимодействия, технических аспектов и маркетинговых технологий в финтехе.
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3 CRYPTO Pi Fund
      .container-fluid.max-w-md.max-w-lg.mb-3.mb-md-4
        .row.justify-content-center
          .col-12.col-lg-10
            +b.chart
              +e.IMG.__grid(src='img/content/chart-0-grid.svg' alt='')
              +e.IMG.__lines.wow(src='img/content/chart-0-lines.svg' alt='' data-wow-duration='1.5s')
      .container-fluid.max-w-md.max-w-lg.mb-3.mb-md-4
        .row.mb-3-inv.mb-md-4-inv
          .col-12.mb-3.col-md-6.mb-md-4.wow.fadeInLeft
            +b.SECTION.section-sm
              +e.HEADER.__header
                +e.H3.__title Фонд занимается инвестированием в криптовалюты.
              +e.__content
                p.
                  В управляющей команде Фонда состоят специалисты с многолетним опытом работы на фондовых и валютных биржах, что обеспечивает «CRYPTO Pi Fund» весомое преимущество перед другими организациями на этом сложном и крайне волатильном рынке.
                p.
                  Фонд проводит сбалансированную политику риск-менеджмента с приоритетным фокусом на сохранении вложенных инвесторами средств.
              +e.FOOTER.__footer
                p.
                  Для достижения наилучших инвестиционных результатов мы используем четыре торговые стратегии. В основе каждой из них лежит принцип минимизации рисков и сохранения инвестиционного капитала.
          .col-12.mb-3.col-md-6.mb-md-4.wow.fadeInRight
            +b.ARTICLE.invest-go.h-100
              +e.H3.__title Стоимость пая «CRYPTO Pi Fund» составляет 100 Евро.
              +b.A.btn-primary(href='').__btn Инвестировать сейчас
              +e.__content
                p.
                  У нас нет ограничений по количеству паев – <br>
                  стать нашим клиентом может каждый!
      +b.SECTION.section-sm
        +e.HEADER.__header
          .container-fluid.max-w-md.max-w-lg
            .row
              .col-12.col-md-8
                +e.H3.__title Фонд предоставляет своим клиентам возможность приобретать паи трех видов инвестиционных портфелей:
        .container
          .row.mb-2-inv.justify-content-center
            .col-12.mb-2.col-sm-6.col-md-4
              +b.FIGURE.invest-item.wow.flipInX
                +e.__img
                  +icon-svg('sand-watch').__img-svg
                +e.FIGCAPTION.__body
                  +e.__title Краткосрочный
                  +e.__desc 3 месяца
                  +e.__value
                    +e.SPAN.__value-text-0 7
                    +e.SPAN.__value-text-0 0
                    +e.SPAN.__value-text-1 %
            .col-12.mb-2.col-sm-6.col-md-4
              +b.FIGURE.invest-item.wow.flipInX(data-wow-delay='0.2s')
                +e.__img
                  +icon-svg('watch').__img-svg
                +e.FIGCAPTION.__body
                  +e.__title Среднесрочный
                  +e.__desc 6 месяцев
                  +e.__value
                    +e.SPAN.__value-text-0 8
                    +e.SPAN.__value-text-0 5
                    +e.SPAN.__value-text-1 %
            .col-12.mb-2.col-sm-6.col-md-4
              +b.FIGURE.invest-item.wow.flipInX(data-wow-delay='0.4s')
                +e.__img
                  +icon-svg('calendar').__img-svg
                +e.FIGCAPTION.__body
                  +e.__title Долгосрочный
                  +e.__desc 12 месяцев
                  +e.__value
                    +e.SPAN.__value-text-0--one 1
                    +e.SPAN.__value-text-0 0
                    +e.SPAN.__value-text-0 0
                    +e.SPAN.__value-text-1 %
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3 Краткий обзор рынка криптовалют, инвестиционный портфель CRYPTO Pi
      +b.SECTION.section-chart.mb-3.mb-md-4
        .container-fluid.max-w-md.max-w-lg
          .row
            .col-12.mb-2.col-md-6.mb-md-0
              +e.HEADER.__header
                .row
                  .col-12.col-lg-8
                    +e.H3.__title.m-0 Global cryptocarrency market
              .row
                .col-12.mb-2.col-lg-8.mb-lg-0
                  +e.__content
                    p.
                      Долгосрочные вложения, как правило, составляют 45% от общей стоимости портфеля.
                    p
                      strong Инвестиции делаются в топ-10 криптовалют в соответствии с рейтингом их капитализации.
                    p.
                      Длительные инвестиции в ведущие криптовалюты с большой рыночной капитализацией и ликвидностью нивелируют
                      риски резких колебаний стоимости, а защищенные холодные кошельки делают
                      долгосрочное хранение безопасным.
                .col-12.text-center.col-lg-4.text-lg-right
                  .row.align-items-center.flex-lg-column.align-items-lg-stretch
                    .d-none.col-sm-4.d-sm-block.col-lg-12.mb-lg-2
                      +e.IMG.__img(src='img/content/case-0.svg' alt='')
                    .col-6.col-sm-4.col-lg-12.mb-lg-2
                      +e.__value
                        +e.SPAN.__value-text-0 4
                        +e.SPAN.__value-text-0 5
                        +e.SPAN.__value-text-1 %
                        +e.__value-text-2 общей стоимости портфеля
                    .col-6.col-sm-4.col-lg-12
                      +e.__label - долгосрочные вложения
            .col-12.px-0.col-md-6.px-md-1.wow.slideInRight
              +e.__chart--0
                +e.IMG.__chart-img(src='img/content/chart-1.svg' alt='')
      +b.SECTION.section-chart.mb-3.mb-md-4
        .container-fluid.max-w-md.max-w-lg
          .row
            .col-12.mb-2.col-md-6.mb-md-0.order-1
              +e.HEADER.__header
                .row
                  .col-12.col-lg-8
                    +e.H3.__title.m-0 Hard fork & new carrency
              .row
                .col-12.mb-2.col-lg-8.mb-lg-0
                  +e.__content
                    p.
                      Среднесрочные инвестиции обычно составляют 30% от общей стоимости портфеля.
                    p.
                      <strong>Это инвестиции в валюты, сформировавшиеся в результате хардфорка высокорейтинговых валют</strong>, а также в новые валюты, капитализация которых превысила 1 млрд долларов США, с последующей корректировкой позиций валют в зависимости от их относительной волатильности и ликвидности в любой момент времени.
                .col-12.text-center.col-lg-4.text-lg-right
                  .row.align-items-center.flex-lg-column.align-items-lg-stretch
                    .d-none.col-sm-4.d-sm-block.col-lg-12.mb-lg-2
                      +e.IMG.__img(src='img/content/case-1.svg' alt='')
                    .col-6.col-sm-4.col-lg-12.mb-lg-2
                      +e.__value
                        +e.SPAN.__value-text-0 3
                        +e.SPAN.__value-text-0 0
                        +e.SPAN.__value-text-1 %
                        +e.__value-text-2 общей стоимости портфеля
                    .col-6.col-sm-4.col-lg-12
                      +e.__label - среднесрочные вложения
            .col-12.px-0.col-md-6.px-md-1.wow.slideInLeft
              +e.__chart--1.--left
                +e.IMG.__chart-img(src='img/content/chart-2.svg' alt='')
      +b.SECTION.section-chart.mb-3.mb-md-4
        .container-fluid.max-w-md.max-w-lg
          .row
            .col-12.mb-2.col-md-6.mb-md-0
              +e.HEADER.__header
                .row
                  .col-12.col-lg-8
                    +e.H3.__title.m-0 Ico leverage
              .row
                .col-12.mb-2.col-lg-8.mb-lg-0
                  +e.__content
                    p.
                      Под краткосрочные инвестиции отводится до 15% от общей стоимости портфеля.<br>
                      <strong>Такие инвестиции осуществляются в только что созданные валюты и ICO на основе анализа инвестиционной привлекательности лежащих в их основе проектов</strong>, и предназначены для продажи сразу после периода первоначального роста.
                    p.
                      Такие валюты мы рекомендуем только после их подробного анализа, который включает в себя изучение бизнес-плана, конкурентоспособности продукта, управляющей команды, маркетинговой стратегии и всех остальных факторов, влияющих на успех.
                    p.
                      Наш опыт вложений в ICO, помимо высокой доходности, позволяет нам поддерживать тесные контакты с лучшими специалистами по проведению ICO и делать лучший выбор при инвестировании.
                .col-12.text-center.col-lg-4.text-lg-right
                  .row.align-items-center.flex-lg-column.align-items-lg-stretch
                    .d-none.col-sm-4.d-sm-block.col-lg-12.mb-lg-2
                      +e.IMG.__img(src='img/content/case-2.svg' alt='')
                    .col-6.col-sm-4.col-lg-12.mb-lg-2
                      +e.__value
                        +e.SPAN.__value-text-0 1
                        +e.SPAN.__value-text-0 5
                        +e.SPAN.__value-text-1 %
                        +e.__value-text-2 общей стоимости портфеля
                    .col-6.col-sm-4.col-lg-12
                      +e.__label - краткосрочные вложения
            .col-12.px-0.col-md-6.px-md-1.wow.slideInRight
              +e.__chart--2
                +e.IMG.__chart-img(src='img/content/chart-3.svg' alt='')
      +b.SECTION.section-chart.mb-3.mb-md-4
        .container-fluid.max-w-md.max-w-lg
          .row
            .col-12.mb-2.col-md-6.mb-md-0.order-1
              +e.HEADER.__header
                .row
                  .col-12.col-lg-8
                    +e.H3.__title.m-0 Extraction & production
              .row
                .col-12.mb-2.col-lg-8.mb-lg-0
                  +e.__content
                    p.
                      Около 10% от общей стоимости портфеля выделяется на <strong>инвестирование в традиционный и облачный майнинг</strong>, а также на модернизацию майнингового оборудования и на внедрение
                      в проекты по созданию AI устройств.
                    p.
                      Вложения в майнинг преследуют не только прямые инвестиционные цели, но и позволяют постоянно актуализировать представления о новых цифровых валютах и технологии блокчейн.
                .col-12.text-center.col-lg-4.text-lg-right
                  .row.align-items-center.flex-lg-column.align-items-lg-stretch
                    .d-none.col-sm-4.d-sm-block.col-lg-12.mb-lg-2
                      +e.IMG.__img(src='img/content/case-3.svg' alt='')
                    .col-6.col-sm-4.col-lg-12.mb-lg-2
                      +e.__value
                        +e.SPAN.__value-text-0 1
                        +e.SPAN.__value-text-0 0
                        +e.SPAN.__value-text-1 %
                        +e.__value-text-2 общей стоимости портфеля
                    .col-6.col-sm-4.col-lg-12
                      +e.__label - инвестирование в майнинг
            .col-12.px-0.col-md-6.px-md-1.wow.slideInLeft
              +e.__chart--3.--left
                +e.IMG.__chart-img(src='img/content/chart-4.svg' alt='')
  +footer
