include lib/variables
include lib/mixins
include blocks/page
include blocks/header
include blocks/footer

+page(pagesList.index.title)
  +header.--transparent
  +e.__main
    +b.SECTION.section-intro
      .container-fluid.max-w-md.max-w-lg
        +e.H1.__title
          small «CRYPTO Pi» –
          | Криптовалютый холдинг
    .container-fluid.max-w-md.max-w-lg.px-25
      +b.BLOCKQUOTE.intro.mx-auto.mt-115-inv.mb-50
        +e.IMG.__img.d-none.d-sm-block(src='img/content/kevin.png' alt='Кевин Р. Смит')
        +e.__body
          +e.__content
            p С радостью делюсь новостью: наш объединенный голландско-сингапурский криптовалютный холдинг открыл представительство в России и готов предоставить в распоряжение клиентов новейшие технологии финтеха.
          +e.__footer
            .row.align-items-end
              .col-6
                +e.CITE.__cite Кевин Р.&nbsp;Смит
                +e.__position Chief Executive Officer
              .col-6.text-center
                +e.IMG.__sign(src='img/content/sign.png' alt='Кевин Р. Смит')


  +footer
