extends index

block section-intro__title
  | Cryptocurrency business

block intro-letter__content
  p We would like to announce that our united Dutch/Singaporean cryptocurrency business is now opening representative offices around the world and is ready to provide our clients with the latest technologies in Fintech.

block intro-letter__cite
  | Kevin. R. Smith

block intro-letter__position
  | CEO

block section-about__desc
  p is an international cryptocurrency Platform created by large European and Asian investors.

block section-about__content
  p Clients and partners Crypto Pi get access to expert knowledge and experience in this dynamic new field and can use the advanced financial and technical services which can be tailored to any task and requirements.

block section-about__footer
  p The uniqueness of Crypto Pi services is the way that they connect the modern technologies of blockchain with that of classical financial institutions.

block section--service__title
 | Our main services are:

block service__content-0
  p This is an alternative investment licenced fund that implements its trading strategies in the rapidly developing digital currency market and ICOs.

block service__content-1
  p This service provides ready-made integrated solutions for the purchase and installation of the most effective, proven mining equipment in our own data centres.

block service__content-2
  p Assistance with technical, financial and legal issues at primary placement of tokens and also joint carrying out of ICOs on the basis of Crypto Pi.

block service__content-3
  p We will provide  token sales and we'll create subfunds in partnership with professional participants of the market of digital assets.

block service__content-4
  p Consultation services with leading experts on: legal regulation; financial interaction; technical aspects, and; marketing technologies in Fintech.
