extends index

block lang
  - let lang = 'en';

block section-intro__title
  | cryptocurrency platform

block intro-letter__content
  p We would like to announce that our united Dutch/Singaporean cryptocurrency business is now opening representative offices around the world and is ready to provide our clients with the latest technologies in Fintech.

block intro-letter__cite
  | Kevin. R. Smith

block intro-letter__position
  | CEO

block section-about__desc
  p is an international cryptocurrency platform created by large European and Asian investors.

block section-about__content
  p Clients and partners Crypto Pi get access to expert knowledge and experience in this dynamic new field and can use the advanced financial and technical services which can be tailored to any task and requirements.

block section-about__footer
  p The uniqueness of Crypto Pi services is the way that they connect the modern technologies of blockchain with that of classical financial institutions.

block section--service__title
 | Our main services are:

block service__content-0
  p This is an alternative investment fund that implements its trading strategies in the rapidly developing digital currency market and ICOs.

block service__content-1
  p This service provides ready-made integrated solutions for the purchase and installation of the most effective, proven mining equipment in our own data centres.

block service__content-2
  p Assistance with technical, financial and legal issues at primary placement of tokens and also joint carrying out of ICOs on the basis of Crypto Pi.

block service__content-3
  p We will provide  token sales and we'll create subfunds in partnership with professional participants of the market of digital assets.

block service__content-4
  p Consultation services with leading experts on: legal regulation; financial interaction; technical aspects, and; marketing technologies in Fintech.

block chart__grid
  include ../../dist/img/content/График доходности dark_grid-en.svg

block section-sm__title
 | The platform is engaged in the development of cryptocurrency projects.

block section-sm__content
  p Crypto Pi's management team consists of specialists with many years of experience in stock and currency markets and banking structures, which provides Crypto Pi with a significant advantage over other organizations in this new, complex and fast-growing market.
  p Crypto Pi conducts a balanced risk management policy with a priority focus on security in the selection of partner crypto-currency projects.

block section-sm__footer
  p To achieve the best investment results, we use four trading strategies. At the heart of each of them lies the principle of minimizing risks and preserving investment capital.

block invest-go__title-0
  | Start investing in the Crypto Pi platform by buying our token – PiCoin.
  | The cost of PiCoin is initially 100 Euro.

block invest-go__content-0
  p We do not have restrictions on the number of tokens - everyone can become our client.

block section-sm__title-1
  | EFFICIENCY Of INVESTMENTS *

block invest-item__title-0
  | Short term

block invest-item__desc-0
  | &lt; 3 months

block invest-item__title-1
  | Medium term

block invest-item__desc-1
  | &lt; 6 months

block invest-item__title-2
  | Long term

block invest-item__desc-2
  | &gt; 12 months

block section-chart__content-0
  p Long-term investments usually account for 45% of the total value of the portfolio.
  p
    strong Investments are made in the top ten of cryptocurrencies according to the rating of their capitalization.
  p Long-term investments in leading cryptocurrencies with high market capitalization and liquidity counterbalance the risks of sharp price fluctuations, and protected cold wallets make long-term storage safe.

block section-chart__value-text-2-0
  | of the total value of the portfolio

block section-chart__label-0
  | - long-term investments

block section-chart__chart-img-0
  include ../../dist/img/content/Долгосрочные стратегии light-en.svg

block section-chart__content-1
  p Medium-term investments usually account for 30% of the total value of the portfolio.
  p <strong>This is an investment in the currencies formed as a result of the hard fork of major currencies</strong>, as well as in new currencies, the capitalization of which exceeded $ 1 billion (with subsequent position adjustments depending on their relative volatility and liquidity at any point in time).

block section-chart__value-text-2-1
  | of the total value of the portfolio

block section-chart__label-1
  | - medium-term investments

block section-chart__chart-img-1
  include ../../dist/img/content/Среднесрочные стратегии light-en.svg
