include lib/variables
include lib/mixins
include blocks/page
include blocks/header
include blocks/footer

+page(pagesList.index.title)
  +header.--transparent
  +e.__main
    +b.SECTION.section-intro

  +footer
